<%- include(`partials/header`) -%>

<main>
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et expedita similique quo ducimus, quae dolores numquam maxime distinctio. Repudiandae accusantium, aliquam aspernatur eveniet quam optio distinctio placeat consectetur sit.
    Fugiat nulla accusamus repellendus quibusdam deserunt adipisci laudantium molestias atque esse vitae! Ea impedit nesciunt fuga hic quasi dolorum itaque amet, aspernatur excepturi quo odit, minus quidem. Ut, ipsam iusto.
    Ratione blanditiis a, quod ipsum quos amet natus velit voluptate dolorem sit expedita. Velit nemo id placeat expedita? Odit natus ipsum aspernatur. Aperiam magni inventore, rem perspiciatis voluptatem eius recusandae?</p>
</main>

<%- include(`partials/footer`) -%>